body {
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

#clock_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

h1 {
    font-size: 6rem;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    transition: all 0.5s ease;
}

.date {
    font-size: 2rem;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width : 1000px){
    h1 {
        font-size: 3rem;
    }
    .date {
        font-size: 1.5rem;
    }
}