body {
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 0;
}

#clock_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 6rem;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    /* backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1); */
    width: 100%;
}

@media screen and (max-width : 1000px){
    h1 {
        font-size: 3rem;
    }
}